.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~
.directory
.Trash-*

*.swp
*.swo
*~
.netrwhist
Session.vim

.vscode/

.idea/

result
result-*

.direnv/
.envrc.local
